<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>

<link rel="shortcut icon" href="static/favicon.ico">

<body>
  <h1>Chat Room</h1>
<input type="button" value="Return Home" onclick="window.location.href='{{ url_for( 'index') }}';">
<input type="button" value="Back" onclick="window.history.back()" />

{% for n in history %}
<div>{{n[3]}}:{{n[1]}}</div><br>
{% endfor %}

<form method="POST" action="/chat_history" id="post_review">
<textarea rows="30" cols="150" name="message" form="post_review">
Review this house!</textarea><br>
<input type="submit" value="chat_history" name="chat_history">
</form>









</body>


</html>
